<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Todo - List</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'
        integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
</head>

<body>

    <div id="app">
        <div class="container">
            <h1>My Todo List</h1>

            <div class="new-task">
                <input type="text" v-model="addTask" @keyup.enter="addNewTask"
                    :class="addTask != '' ? 'active-bg' : '' ">
                <button @click="addNewTask">Add </button>
            </div>

            <section v-if="todoList.length > 0">
                <ul>
                    <li v-for="(todo, index) in todoList" 
                    @click="changeDone(index)"
                    :class="todo.done == 'true' ? 'active' : '' ">
                        {{ todo.text }} <i title="elimina" class="fa-solid fa-circle-xmark"
                            @click="removeTodo(index)"></i>
                    </li>
                </ul>
            </section>
            <section v-else="todoList.length === 0">
                <p>Niente da fare per oggi. Esci e fai una passeggiata!</p>
            </section>

        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>